<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>KOJA</title>

    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/welcome.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">

    <!-- Fonts -->
</head>

<body class="antialiased">
    <header>
        <div class="logo">
            <img src="../static/images/koja.png" alt="" style="height: 50px; width: 50px;">
        </div>
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar" class="fas fa-bars"></label>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
            <a href="/login">Login</a>
            <a href="/register">Sign Up</a>
        </nav>
    </header>


    <!-- home section -->
    <section class="home" id="home" style="background-image: url('../static/images/tr.png');">
        <div class="content" >
            {% if error %}
            <p class=error> {{ error }} </p>
            {% endif %}
            <h3><span>Komunitas Olimpiade </span>Jogja</h3>
            <p> Science for Humanity</p>
        </div>
        <div class="image">
            <img src="../static/images/koja.png" alt="" style="width: 75%; height: 75%;">
        </div>
    </section>


    <!-- about section -->
    <section class="about" id="about" style="background-image: url('../static/images/t.png');">
        <div class="column">
            <div class="image">
                <img src="../static/images/ksn (2).png" alt="" style="width: 70%; height: 70%;">
            </div>
            <div class="content">
                <h2> About KOJA</h2>
                <p style="text-align: justify">KOJA merupakan wadah yang dapat menjadi jembatan antara pembina KOJA yang berisi alumni olimpiade serta orang yang memiliki pengalaman dan pengetahuan di bidang sains dengan anggota KOJA yang terdiri dari siswa-siswi sekolah menengah yang tertarik menggeluti dunia sains</p>
            </div>
        </div>
    </section>

    <!-- contact section -->
    <section class="contact" id="contact">
        <h2> Contact Us: </h2>
        <div class="ik">
            <div class="image">
                <img src="../static/images/ia.png" alt="">
            </div>
            <div class="box">
                <div class="wrapper">
                    <div class="button">
                        <div class="icon">
                            <i class="fab fa-instagram"></i>
                        </div>
                        <a href="https://www.instagram.com/koja_olimpiade/"><span>Instagram</span></a>
                    </div>
                    <div class="button">
                        <div class="icon">
                            <i class="fab fa-whatsapp"></i>
                        </div>
                        <a href="https://wa.me/+6281343334473"><span>Whatsapp</span></a>
                    </div>
                </div>
            </div>
    </section>

</body>

</html>