<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="../static/css/regis.css">
		<script src="https://kit.fontawesome.com/a81368914c.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<img class="wave" src="../static/images/t.png">
		<div class="container">
			<div class="img">
				<img src="../static/images/koja.png" style="width: 400px; height: 400px;">
			</div>
		<div class="login-content" style="margin-top: 1cm;">
			<form action="login.html">
				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-at"></i>
					</div>
					<div class="div">
						<input type="text" class="input" placeholder="Email">
					</div>
				</div>

				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-lock"></i>
					</div>
					<div class="div">
						<input type="password" class="input" placeholder="Password">
					</div>
				</div>

				<div class="s">
					<a href="idex.html" type="submit">Login</a>
				</div>
				<div class="w">
					<a href="ForgotPass.html">Forgot Password?</a>
				</div>
				<div class="x">
					<p>
						<span> Don't have an account? </span>
						<a href="regis.html">Sign up here</a>
					</p>
				</div>
				</form>
			</div>
		</div>
		<script type="text/javascript" src="../static/js/signinuprevisi.js"></script>
	</body>
</html>
