<!DOCTYPE html>
<html>
	<head>
		<title>Sign Up</title>
		<link rel="stylesheet" type="text/css" href="../static/css/login.css">
		<script src="https://kit.fontawesome.com/a81368914c.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<img class="wave" src="../static/images/t.png">
		<div class="container">
			<div class="img">
				<img src="../static/images/koja.png" style="width: 400px; height: 400px;">
			</div>
			<div class="login-content" style="margin-top: 1cm;">
			<form action="/api/register" method="POST">
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="form-group">
						<input type="text" class="input" placeholder="Nama Lengkap" name="name">
					</div>
				</div>

				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-school"></i>
					</div>
					<div class="form-group">
						<input type="text" class="input" placeholder="Email" name="email">
					</div>
				</div>

				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-school"></i>
					</div>
					<div class="form-group">
						<input type="text" class="input" placeholder="Sekolah" name="school">
					</div>
				</div>

				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-atom"></i>
					</div>
					<div class="form-group">
						<select name="bidang" id="bidang" class="form-select" style="border: 1rem; font-family: 'Poppins', sans-serif; font-size: 18px; float: left;">
							<option value="matematika">Matematika</option>
							<option value="fisika">Fisika</option>
							<option value="kimia">Kimia</option>
							<option value="biologi">Biologi</option>
							<option value="komputer">Komputer</option>
							<option value="astronomi">Astronomi</option>
							<option value="geografi">Geografi</option>
							<option value="kebumian">Kebumian</option>
							<option value="ekonomi">Ekonomi</option>
						</select>
					</div>
				</div>

				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-lock"></i>
					</div>
					<div class="form-group">
						<input type="password" class="input" placeholder="Password" name="password">
					</div>
				</div>

				<div class="s">
					<button type="submit" style="font-family: 'Poppins', sans-serif; font-size: 18px; background-color: #01529D; border: 0cm; cursor: pointer;">
						Sign Up
					</button>
				</div>
	
				<div class="x">
					<p>
						<span> Already have an account? </span>
						<a href="/login">Login here</a>
					</p>
				</div>
			</form>
			</div>
		</div>
		<script type="text/javascript" src="../static/js/signinuprevisi.js"></script>
	</body>
</html>
